body {
    background-color: #2979FF;
    color: #fff;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;;
}

.active {
    background-color: #2979FF;
}

.navigation {
    background-color: #2962FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
}

.links a {
    font-size: 1.35em;
    padding: 28px; 
}

.links a:hover {
    background-color: #2979FF;
}
.container {
    max-width: 1100px;
    margin: 0 auto;

}

/*******************************
    HOME PAGE
********************************/

#header {
    margin-top: 2em;
    background: url('images/header.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h1 {
    font-size: 5em;
    margin: 0;
}

#popular {
    display: flex;
    margin-bottom: 3em;
}

.popular-attraction {
    width: 33.33%;
    padding: 10px;
    
}
.popular-attraction img {
    width: 100%;
}
.popular-attraction a, #header a {
    text-decoration: underline;
    padding: 9px;
    border-radius: 6px;
    background-color:  #2962FF;
    box-shadow: 1px 1px 8px -2px #000;
}

.popular-attraction a:hover, #header a:hover {
    background-color: rgba(255,255,255,0.3);
}

/*****************************************
              DESTINATIONS
*****************************************/
